.banner-container {
    position: relative;
    width: 100%;
    height: 480px;
    background: linear-gradient(to bottom, rgba(157, 14, 14, 0), #4f0707);
}

.banner-container .banner-img {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: -10;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.banner-container .content {
    padding-top: 84px;
   
}

.banner-container .content .logo {
    width: 147px;
    height: 147px;
    background-color: #fff;
    border-radius: 50%;
    font-family: Poppins;
    font-size: 70px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.51;
    letter-spacing: normal;
    font-style: normal;
    color: #eb2929;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .heading {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
}

.banner-container .search-options {
    max-width: 750px;
    margin: auto;
}

.search-options select {
    height: 60px;
    background-color: #fff;
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #636f88;
    cursor: pointer;
    border: none;
    width: 100%;
}

.search-options select:focus {
    border: none;
    outline: none;
}

.search-options select option {
    color: #636f88;
}

.searchbox-container {
    position: relative;
}

.searchbox-container .restaurant-search {
    height: 60px;
    background-color: #fff;
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #636f88;
    border: none;
    width: 100%;
}

.searchbox-container .restaurant-search:focus {
    border: none;
    outline: none;
}

.searchbox-container .search-icon {
    position: absolute;
    /* z-index: 10; */
    left: 20px;
    top: 20px;
    font-size: 16px;
}

/* Bottom section */

.bottom {
    background-color: #fbfbfb;
}

.bottom .heading {
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.bottom .sub-heading {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
}

.box {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background: #fff;
    display: flex;
    cursor: pointer;
}

.box img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    object-position: center;
}
.box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    padding-left: 20px;
}

.box .heading {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.box .description {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
}

@media (max-width: 766px) {
    .banner-container .content .heading {
        font-size: 28px;
    }
}
